# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create tables using markdown
- Demonstrate basic arithmetic expression evaluation

Some of the popular languages that Data Scientists use are:

- Python
- C
- C ++

Some of the commonly used libraries used by Data Scientists include:

- NumPy
- Pandas
- Matplotlib

 Data Science Tools        |
|---------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Zeppelin            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
#This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
time = 200 
h = 60
time_in_h = time/h
print(time_in_h)

3.3333333333333335

## Author

Aleix Francia Albert